---
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc.js';
import timezone from 'dayjs/plugin/timezone'

export type Props = {
  name: string
  description: string
  date: string
  attr: string
}

const { name, description, date, attr } = Astro.props

dayjs.extend(utc)
dayjs.extend(timezone)
dayjs.tz.setDefault('Asia/Tokyo')

const jstDate = dayjs.utc(date).tz().format('YYYY-MM-DD HH:mm:ss')
---

<li
  class="relative mb-8 overflow-hidden rounded-md border p-0 text-neutral-700"
>
  {
    attr && (
      <div class="flex justify-center bg-neutral-50">
        <img src={attr} class="max-h-80 w-auto" alt="" />
      </div>
    )
  }
  <div class="relative p-8">
    <p class="">{description}</p>
  </div>
  <div class="flex items-end justify-between px-8 pb-8 text-neutral-400">
    <span>{name}</span>
    <span>{jstDate}</span>
  </div>
</li>
