---
export type Props = {
  name: string
  description: string
  date: string
  attr: string
}

const { name, description, date, attr } = Astro.props;
---

<li class:list={[
  'p-8',
  'mb-24',
  'text-neutral-700',
  'shadow-sm',
  'rounded-md'
]}>
  <div >
    <img class="rounded-sm" src={attr}>
  </div>
  <p>{description}</p>
  <div>
    <span>{name}</span>
    <span>{date}</span>
  </div>
</li>
