---
import SiteHeader from '@components/SiteHeader.astro'
import '@fontsource/dotgothic16'
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>yosegaki-2014e</title>
  </head>
  <body>
    <div class="container mx-auto">
      <div class="mx-auto mt-4 max-w-5xl">
        <SiteHeader />
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'DotGothic16', sans-serif;
  }
</style>
