---
import '@fontsource/dotgothic16'
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="container mx-auto">
    <div class="mx-auto mt-4 max-w-5xl">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    font-family: "DotGothic16", sans-serif;
  }
</style>
